/* General styles  */

.content-text {
  padding-top: 50px;
  padding-right: 90px;
  padding-bottom: 90px;
  padding-left: 80px;
  text-align: center;
}

.content-text p:nth-child(1) {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}

.content-text p:nth-child(2) {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 13;
  font-style: italic;
}

ul.links {
  list-style: none;
}

.row-images img {
  display: inline-flex;
  padding-left: 40px;
  padding-top: 50px;
  width: 29%;
}
